@import "tailwindcss";

@theme {
  --cursor-custom: url("/images/target-cursor-red.png"), auto;
  --color-brand-blue: hsl(221, 69%, 14%, 1);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.modal {
}
.modal[open] {
}
